{
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "plugins": [
    "import",
    "react",
    "jsx-a11y",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "react/function-component-definition": "off",
    "import/extensions": "off",
    "no-console": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}